<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075157194769-7e8s2oidlrtv4c1td0jj9f0fm0883904.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075157194769-7e8s2oidlrtv4c1td0jj9f0fm0883904</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Xsrq83hSlzYbFeRbGQLZ-VuiatMNzGc</string>
	<key>GCM_SENDER_ID</key>
	<string>1075157194769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>search.SearchTest</string>
	<key>PROJECT_ID</key>
	<string>searchtest-5e64d</string>
	<key>STORAGE_BUCKET</key>
	<string>searchtest-5e64d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075157194769:ios:3568706a9c32e0bc7d39b0</string>
</dict>
</plist>